---
- name: Ensure latest and greatest
  yum: name=* state=latest
  become: yes

- name: Install packages
  yum: name={{ item }} state=installed
  with_items:
      - git
      - vim
  become: yes

- name: enable dnf copr repo
  get_url:
      url: https://copr.fedorainfracloud.org/coprs/g/rpm-software-management/dnf-centos/repo/epel-7/group_rpm-software-management-dnf-centos-epel-7.repo
      dest: /etc/yum.repos.d/dnf-centos.repo
  become: yes
